.container {
    border: 1px solid purple;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    outline: 1px solid purple;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.smallBox {
    width: 100px;
    height: 100px;
}

.wideBox {
    width: 200px;
    height: 100px;
}

.smallest {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
}

.smallest div {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
}

.box {
    box-sizing: border-box;
}