/* nav laukeli daryti su flexu */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eeeeee;
}

section {
    margin: 30px 50px;
}

nav {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

nav  ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    font-size: 12px;
    color: #454545;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    margin-right: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    height: 150px;
}

.left {
    display: grid;
    grid-column: span 1;
    gap: 15px;
    font-size: 14px;
}

.leftTop {
    display: grid;
    background-color: white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
    grid-row: span 1;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.leftBottom {
    display: grid;
    background-color: white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
    grid-row: span 3;
    padding: 10px;
    align-content: center;
    justify-content: left;
}

.right {
    grid-column: span 3;
    background-color: white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
}

.right * {
    margin-left: 13px;
}

.right h4 {
    margin-bottom: 0;
}

.right p {
    padding-bottom: 40px;
    text-align: left;
}

p {
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    color: #454545;
}


@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    li {
        color: #1ca1ca;
        text-decoration: underline;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid #858181;
        margin-right: 0;
    } 

    li:last-of-type {
        border: none;
    }

    .left {
        grid-column: span 4;
    }

    .leftBottom {
        display: none;
    }

    .right {
        grid-column: span 4;
    }
}