html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

h1 span {
    color: blue;
}

a {
    color: blue;
}

.green {
    color: green;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}