.logoImage {
width: 100px;
display: inline;
background-color: green;
}

.navigation {
display: inline;
}

h3, h4 {
    text-align: center;
}

section {
    height: 300px;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.highlighted {
    color: aqua;
    font-size: 20px;
    background-color: blue;
}