@import "mobile.scss";

$theme-color: blue;

p {
    color: $theme-color;
}

header {
    background-color: grey;

        nav {
            background-color: blue;
        }
}

@mixin someStyle ($size) {
    font-size: $size;
    line-height: $size * 1.5;
}

.section {
    @include someStyle(30px);
}

.section2 {
    @include someStyle(40px)
}

.section3 {
    @extend .section;
    text-align: center;
}

$my-variable: true;

@if $my-variable == true {
    $color-one: green;
} @else {
    $color-one: red;
}

$color-one: grey;

.section4 {
    color: $color-one;
}