.container {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    border: 1px solid purple;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.bigBox {
    height: 200px;
    width: 200px;
}

.smallBox {
    width: 100px;
    height: 100px;
}