* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 192, 203);
    color: white;
}

div {
    border: 2px solid white;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
}

img {
    width: 100%;
}

.div1 {
    padding: 15px;
}

.smallerWidth {
    width: 300px;
}

.biggerWidth {
    width: 400px;
}

.backgroundImage {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw9dCxt3C8F-uKSyKNF2zyA0QO5BYUBMRd1A&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}