body {
    background-color: blueviolet;
}

img {
    width: 80%;
    border-top: 15px solid wheat;
    border-right: 15px solid black;
    border-left: 15px solid blue;border-bottom: 15px solid green;
    border-radius: 50px
}

.container {
    width: 70%;
    border: 2px dashed yellow;
    color: rgb(152, 10, 10);
    text-align: center;
    background-color: rgba(138, 61, 138, 0.5);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.container h1 {
    color: yellow;
}

.container p {
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container p::first-letter {
    font-size: 30px;
}

