* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.blue {
    color: #645cff;
}

.green {
    color: #0e5232;
}

.red {
   color: #832029; 
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > h1 {
    font-weight: 700;
}

header > div > a {
    margin-right: 8px;
}

main {
    background-color: #e1e5ea;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

section {
    /* background-color: white; */
    margin: 70px auto;
    max-width: 70%;
    align-items: center;
}

.div1 {
    background-color: white;
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 473.633px;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%
}

.button > button {
    color: white;
    width: 30%;
    background-color: #645cff;
    border-radius: 0 5px 5px 0;
    border: 0;
}

.button > input {
   border-radius: 5px 0 0 5px;
   border: 1px solid rgba(128, 128, 128, 0.3);
   border-right: 0;
   width: 70%;
}

.left {
    text-align: left;
    font-size: 12px;
    color: rgb(205, 6, 6);
}

.name {
    font-size: 25px;
}

.div2 {
    display: flex;
    background-color: white;
    padding: 5px 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 473.633px;
}

.div2 button {
    background: 0;
    border: 0;
}

.div3 {
    display: flex;
    background-color: white;
    padding: 5px 50px 5px 25px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 470px
}

.div3 button {
    background: 0;
    border: 0;
}

.space {
    margin-right: 8px;
}

.scored {
    text-decoration: line-through;
}