* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 600px;
    height: 600px;
    outline: 1px solid purple;
    margin-bottom: 200px;
}

.container  div {
    height: 200px;
    width: 200px;
    outline: 1px solid purple;
    box-sizing: border-box;
}

.container1 {
    flex-wrap: wrap;
}

.container1 >.bigBox {
    width: 400px;
}

.container4 {
    flex-wrap: wrap;
}

.container4 .bigBox {
    width: 250px;
}

.container4 > .smallBox {
    width: 100px;
}

.container4 .biggerBox {
    width: 400px;
}

.container4 .shorterBox { 
    height: 100px;
    width: 100px;
}

.container4 > .column {
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-wrap: wrap;
}