body {
    margin: 10px 150px;
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: white;
    border-radius: 5px;
}

header img {
    width: 40%;
}

header {
    text-align: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.aboutUs {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.aboutUs img {
    width: 90%;
}

span {
    font-weight: bold;
}

ul {
    text-align: left;
}

.copyright {
    text-align: center;
}

.justify {
    text-align: justify;
}