.clickMeButton {
background-color: blue;
border: none;
padding: 5px;
color: white;
border-radius: 20px;
cursor: pointer;
}

.clickMeButton:hover {
    background-color: blueviolet;
    padding: 10px;
}

.textInput:focus {
background-color: aquamarine;
}

input:checked {
    width: 100px;
}

input[type="text"]:disabled {
    border: 2px solid blue;
}

input:required {
    width: 200px;
}

input:optional {
    width: 300px;
}

a:active {
color: rebeccapurple;
}

a:link {
    color: black;
}

a:visited {
    color: green;
}

input:out-of-range {
    border: 1px solid red;
}

input:in-range {
    border: 3px solid green;
}

input:read-only {
    background-color: grey;
}