.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  * {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    width: 480px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.bold {
    font-weight: bold;
}

.blueTheme {
    color: #645cff;
}

header > div h1 {
    font-weight: bold;
    font-size: 25px;
}

header > div > div > i {
    margin-left: 7px;
    font-size: 18px;
}

.explore {
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #645cff;
    padding: 200px 40px;
}

.caps {
    letter-spacing: 5px;
    line-height: 50px;
    font-size: 34px;
}

.explore button {
    padding: 10px 15px;
    color: white;
    background-color: #645cff;
    border: 2px solid rgba(95, 88, 246, 0.7);
    border-radius: 4px;
    border-bottom: 3px solid rgb(96, 88, 246);
    border-right: 3px solid rgb(96, 88, 246);
}

.about img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.about {
    text-align: center;
}

.about h1 {
    /* font-weight: bold; */
    margin: 50px auto;
}

.about > div {
    text-align: justify;
    margin: 50px 10%;
}

.about > div a {
    text-decoration: none;
    color: blue;
}

.services {
  background-color: #b4dff0;
  text-align: center;
  padding: 60px 30px 80px 30px;
}

.icons i {
  background-color: #645cff;
  padding: 12px;
  font-size: 25px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icons > div {
  width: 40%;
  margin-left: 30px;
  margin-top: 30px;
}

.icons > div > h2 {
  text-align: center;
  white-space: nowrap;
  font-size: 22px;
}

#socks {
  text-align: center;
  white-space: wrap;
}

.tours img {
  width: 100%;
}

.tours > div {
  border: 1px solid black;
  width: 80%;
  margin: 50px auto;
}

.tours {
  text-align: center;
  margin-bottom: 60px;
}

.tours > div > div {
  text-align: left;
  margin: 20px;
}

.tours > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours > div > div > div a {
  text-decoration: none;
}

.container {
  position: relative;
  /* SUSITVARKYT IR PLOTI IR DATAS */
}

.date {
  position: absolute;
  top: 8px
}

.tours > a {
  text-decoration: none;
  color: #645cff;
}

.gallery {
  text-align: center;
  background-color: #b4dff0;
  padding: 10px;
}

.photos {
  background-color: #645cff;
}

.photos img {
  width: 100%;
}

.updates {
  background-color: #645cff;
  color: white;
  display: flex;
  padding: 20px 10px 40px 10px;
  align-items: center;
}

.updates h1 {
  margin-top: 0;
}

.updatesLeft {
  text-align: center;
  padding-right: 10px;
}

.updatesLeft p {
  text-align: left;
}

.wrapper {
  position: relative;
}

.wrapper input {
  width: 220px;
  height: 30px;
}

.wrapper > input::placeholder {
  padding-left: 8px;
  color: black
}

.wrapper button {
  position: absolute;
  height: 31px;
  right: 3px;
  top: 2px
  /* NENUSIIMA BORDERLIS */
}

footer {
  text-align: center;
  padding: 40px;
  color: white;
  background-color: rgb(54, 54, 54);
}

footer div {
  margin: 30px;
}

footer a {
  text-decoration: none;
  color: white;
}

.headerMenu {
  display: none;
}

@media screen and (min-width: 1920px) {
  body {
    width: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.headerMenu {
  display: inline;
}

.headerMenu a {
  text-decoration: none;
  color: black;
}

.explore {
  height: 1123px;
  background-image: url(https://images.unsplash.com/photo-1525474089639-b5fff4440315?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: contain;
}

.explore h2 {
  margin-top: 400px;
}
}