.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  * {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    width: 480px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.bold {
    font-weight: bold;
}

.blueTheme {
    color: #645cff;
    /* font-weight: bold; */
}

header > div h1 {
    font-weight: bold;
    font-size: 25px;
}

header > div > div > i {
    margin-left: 7px;
    font-size: 18px;
}

.explore {
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #645cff;
    padding: 200px 40px;
}

.caps {
    letter-spacing: 10px;
    line-height: 50px;
    font-size: 40px;
}

.explore button {
    padding: 10px 15px;
    color: white;
    background-color: #645cff;
    border: 2px solid rgba(95, 88, 246, 0.7);
    border-radius: 4px;
    border-bottom: 3px solid rgb(96, 88, 246);
    border-right: 3px solid rgb(96, 88, 246);
}

.about img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    text-align: center;
}

.about h2 {
    font-weight: 500;
}

.about > div {
    text-align: justify;
    margin: 30px 10%;
}

.about > div a {
    text-decoration: none;
    color: blue;
}