input:focus {
    outline: 2px solid rgb(187, 201, 35);
}

/* #cardNumber:in-range {
    outline: 2px solid rgb(18, 214, 18);
} */

#cardNumber:out-of-range {
    outline: 2px solid red;
}

/* #cardNumber:empty {
    outline: none;
} */

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

button:hover {
    background-color: grey;
}

input:placeholder-shown {
    border: 2px solid black;
    outline: none;
}